/* =========================
   GLOBAL STYLES (LEADER)
   ========================= */

body {
    background-color: rgb(249 250 251 / var(--tw-bg-opacity, 1));
    color: rgb(17 24 39 / var(--tw-text-opacity, 1));
    min-height: 100dvh;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 0;
    margin: 0;
}

nav {
    max-width:100%;
    max-height:4.75rem;
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255 / var(--tw-bg-opacity, 1));
    --tw-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    --tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color), 0 2px 4px -2px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.navcontainer {
    position:relative;
    max-height:4.75rem;
    max-width: 1000px;
    margin: auto;
    padding: 1rem 1.5rem;
    display: flex;
    flex-wrap:nowrap;
    justify-content: space-between;
    align-items: center;
    box-sizing:border-box;
    
}

.tabs-container {
    display:flex;
    flex-direction:row;
}

.nav-tabs {
    display: flex;
    flex-direction: row;    
    list-style: none;
    margin:auto;
    
    gap: 1rem;
    flex-wrap: wrap;
    overflow:hidden;
    min-width: 0;
    --tw-text-opacity: 1;
    color: rgb(55 65 81 / var(--tw-text-opacity, 1));
}

.navcontainer h1{
    font-size: 1.5rem;   
    line-height: 1.75rem;
    font-weight: 700;
    --tw-text-opacity: 1;
    color: rgb(67 56 202 / var(--tw-text-opacity, 1));
}

.nav-list.active {
    display: flex;
}

.nav-links {
    display: inline-block;   
    text-decoration: none;
    color: black;
    border-bottom: 2px solid transparent;
    padding-bottom: 4px;
}

.nav-links:hover {
    color: rgb(79 70 229);
    border-color:rgb(78, 70, 229);
    cursor: pointer;
}

.menu-btn {
    position:absolute;
    top:14.5rem;
    left:4.625rem;
    font-size: 1.5rem;
    padding-top:0.35rem;
    background: none;
    border-style:solid;
    border-radius:0.25rem;
    border-color:transparent;
    display:block;
    margin-top:auto;
    margin-bottom:auto;
}

.menu-btn:hover {
    border-color:rgb(82, 81, 81);
    cursor: pointer;
}

.menu-container {
    position:relative;
    right: 0;             
    transition: right 1.0s ease-in-out;
    padding: 0;
    margin: 0;
    width:12.5rem;
    height:31.25rem;
    box-sizing:border-box;
}

@media (min-width: 1250px) {
    .menu-container {
        right:-6.25rem;
    }
}

@media (min-width: 1149px) {
    .menu-container {
        right:-3.25rem;
    }
}

.nav-list {
    list-style: none;
    gap: 1rem;
    flex-wrap: nowrap;
    overflow:hidden;
    min-width: 0;
    --tw-text-opacity: 1;
    color: rgb(55 65 81 / var(--tw-text-opacity, 1));
    width:6.95rem;
    display: none;
    position: absolute;
    top:16.5rem;
    background: white;
    padding: 0.75rem 0.75rem 1.25rem 4.25rem;
    flex-direction: column;
    box-shadow: -2px 6px 7px rgba(0,0,0,0.1);
}

/* =========================
   MEMBER: CALVIN
   ========================= */






/* =========================
   MEMBER: GIFT
   ========================= */









/* =========================
   MEMBER: KLEIST
   ========================= */







/* =========================
   MEMBER: MESHACK
   ========================= */








/* =========================
   MEMBER: GIDEON
   ========================= */







/* Custom CSS for the registration modal */
body {
    background-color: white;
    font-family: Arial, sans-serif;    
}

.feedback-container {
    width: 400px;
    margin: 50px auto;
    background: #ffffff;
    padding: 25px;
    border-radius: 8px;
    text-align: center;
}

h2 {
    color:blueviolet;
}

p{
    margin-bottom: 20px;
}

form {
    text-align: center;
}

label {
    display: block;
    margin-top: 5px;
    font-weight:bold;
}

input, textarea {
width: 200px;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/*Space between email and feedback box */
textarea {
margin-top: 10px;
height: 120px;
resize: vertical;
}

button {
margin-top: 20px;
width: 25%;
padding: 12px;
background-color: blueviolet;
color: white;
border: black;
border-radius: 5px;
font-size: 16px;
cursor: pointer;
}







/* =========================
   MEMBER: GRACE
   ========================= */






/* =========================
   MEMBER: VENANCE
   ========================= */






/* =========================
   MEMBER: PATRICIA
   ========================= */





   

/* =========================
   MEMBER: OLARIP
   ========================= */

